@import url("./assets/fonts/bespoke-sans.css");
@import url("./assets/fonts/dancing-script.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
